<div>
  <div class="row col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">SignIn</div>
      <div class="card-body">
        <form (submit)="signIn()">
          <div class="form-group">
            <input
              type="email"
              [(ngModel)]="user.email"
              class="form-control"
              placeholder="Email"
              name="email"
              autofocus
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              [(ngModel)]="user.password"
              class="form-control"
              placeholder="Password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">SignIn</button>
        </form>
      </div>
    </div>
  </div>
</div>
